<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rbh_barrett_hand_robot">

  <!-- Create Barrett Hand -->
  <!-- Available choices: bh282.urdf.xacro, bh280.urdf.xacro -->	
  <xacro:include filename="$(find barrett_hand_description)/urdf/ip_bh280.urdf.xacro" />

  <link name="kuka_lwr_right_7_link"/>
 
  <xacro:bhand_macro name="rbh" namespace="/rbh" parent="kuka_lwr_right_7_link">
		<origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:bhand_macro>
 
</robot>
